/* index.css */

/* Global reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Hide both horizontal and vertical scroll */
  box-sizing: border-box; /* Ensures padding and border are included in width and height */
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure no overflow in the root container */
}
